html{
    color: #36393B;
    font-family: "Calibri";
}
body{
    background-color: #cfe6f8;
    width: 95%;
    margin: 10px 2.5% 50px 2.5%;
}

.burger {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 40px;
    margin: 20px 25px 0px 0px;
    background-size: cover;
    background-image: url(menu.png);
    cursor: pointer;
    display: block;
}
input[type="checkbox"]  {
    display: none;
}

input + .burger + div {
    display: none;
}

input:checked + .burger + div {
    display:block;
    z-index: 2;
}
.header{
    width: 240px;
    height: 30px;
    background-color:  #36393B;
    color: white;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 20px;
}
.menu{
    border-radius: 10px;
    background-color: #36393B;
    display: block;
    align-items: center;
    align-content:center;
    position: absolute;
    right: 30px;
    top:60px;
}
.menu-item{
    text-align: center;
    padding: 10px;
    color:white;
    width: 100px;
}
.sight{
    position: relative;
    display: flex;
    left:5%;
    width: 90%;
    margin: 20px 0px 20px 0px;
}
img{
    width: 100px;
    height: 100px;
}
.descr{
    position: relative;
    left: 25px;
    top:-25px;
}
.sightname{
    background-color: #bfb6bb;
    text-align: center;
    height: 75px;
}
.h1name{
    position: relative;
    top:30px;
}
p{
    text-align: justify;
}
.images{
    width:100%;
    display: flex;
}
.youtube{
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.imaage{
    margin: 10px 8px 0px 8px;
    width: calc((100% - 32px)/3);
    height: 100px;
}

.map{
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.dstat1{
    width: calc(100% * 4.4 / 5);
    height: 40px;
    background-color: #e08186;
    text-align: right;
    border-radius: 10px;
}
.dstat2{
    width: calc(100% * 4.5 / 5);
    height: 40px;
    background-color: #e08186;
    text-align: right;
    border-radius: 10px;
}
.dstat3{
    width: calc(100% * 4.7/5);
    height: 40px;
    background-color: #e08186;
    text-align: right;
    border-radius: 10px;
}
.dstat4{
    width: calc(100% * 4.6 / 5);
    height: 40px;
    background-color: #e08186;
    text-align: right;
    border-radius: 10px;
}
.dstat5{
    width: calc(100% * 4.7/5);
    height: 40px;
    background-color: #e08186;
    text-align: right;
    border-radius: 10px;
}
h2{
    font-size: 26px;
}
.percentage{
    color:white;
    position: relative;
    margin-right: 30px;
}
.insta{
    position: relative;
    left:calc(10% + 50px);
    width: 50px;
    height:50px;
    background-image: url("insta.png");
    background-size: cover;
}
a{
    width:150px;
}
.insta1{
    margin: 10px calc(50% - 25px) 10px calc(50% - 25px);
    width: 50px;
    height:50px;
    background-image: url("insta.png");
    background-size: cover;
}